name: Docker Image CI

on:
  push:
    branches: ["*"]

jobs:
  api-gateway:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./api-gateway
          push: true
          tags: thspinsoft/sms-video-sfu-api-gateway-go:${{ github.head_ref || github.ref_name }}
